# Unity generated
/[Ll]ibrary/
/[Tt]emp/
/[Oo]bj/
/[Bb]uild/
/[Bb]uilds/
/[Ll]ogs/
/[Uu]ser[Ss]ettings/
/[Mm]emoryCaptures/
/[Rr]ecordings/
/Screenshots/
*.csproj
*.sln
*.slnx
*.pidb
*.booproj
*.svd
*.pdb
*.mdb
*.opendb
*.VC.db
*.pidb.meta
*.pdb.meta
*.mdb.meta
sysinfo.txt
crashlytics-build.properties
.vs/
.vscode/
.idea/
.DS_Store

# Tools
__pycache__/
Tools/.libs/
Tools/SimCheck/bin/
Tools/SimCheck/obj/
ArtSource/_renders/
ArtSource/*.blend1
